<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.css">
  <link rel="stylesheet" href="./styles/app.css" />
  <script src="https://unpkg.com/vue@2.4.2/dist/vue.js"></script>
  <title>Ubeeqo</title>
</head>
<body class="hero">
  <div id="app" class="app box section">
    <div class="card-divider">
      <p class="title is-1">Simon!</h1>
      <p class="subtitle is-6">
        memory game: replicate the moves made by the AI
      </p>
      <br/>
    </div>

    <div v-show="menu === 'on'" class="box">
      <div class="tag is-black is-medium is-rounded">
        High score: {{ high_score }}
      </div>

      <div class="field">
        <label for="complexity" class="label is-large">Number of spheres</label>
        <div class="control">
          <input class="input large" type="number" v-model="complexity" id="complexity">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox" for="strict">Strict mode:
            <input v-on:change="toggleStrict" type="checkbox" id="strict" v-model="strict">
          </label>
        </div>
      </div>

      <div class="field">
        <button class="button is-large is-primary" @click="updateComplexity">Create spheres</button>
      </div>
    </div>

    <div v-show="menu === 'off'" class="section app__game">
      <div @click="sphereClick(value, $event)" class="app__game__spheres"
        v-for="(value, key, index) in spheres" :id="'_'+value"
        v-bind:style="{backgroundColor: '#'+value}">
      </div>
    </div>

    <div v-show="menu === 'off'">
      <div class="columns">
          <div class="column">
            <span class="tag is-dark">Score:  {{ computer_pattern.length }}</span>
          </div>
          <div class="column">
            <span class="tag is-dark">Status: {{ status }}</span>
          </div>
          <div class="column">
            <span class="tag is-dark">Current player: {{ player_turn }}</span>
        </div>
      </div>

      <div class="columns">
        <div class="column">
            <button class="button  is-info" @click="startGame">Start Game</button>
        </div>
        <div class="column">
            <button class="button is-warning" @click="stopGame">Stop Game</button>
        </div>
        <div class="column">
            <button class="button is-danger" @click="resetGame">Reset Game</button>
        </div>
      </div>
    </div>

    <div class="section"  v-if="notification.length > 0">
      <div class="notification is-primary">
          {{ notification }}
        </div>
    </div>


  </div>
  <script src="./js/app.js"></script>
</body>
</html>
