html, body {
  background: #666;
}
.app {
  width: 550px;
  margin: 100px auto;
}
.app__game {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.app__game__spheres {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 100%;
  border: 8px solid #333;
  color: #FFF;
  text-align: center;
  padding-top: 10px;
  transition: all 1s;
}

.active {
  background-color: #FFF !important;
  border: 10px solid #FFF;
}

